pkg/*.swo
pkg/*.swp
pkg/*/src/
pkg/*/pkg/
pkg/*/*.xz
pkg/*/*.gz
pkg/*/*.bz2
pkg/*/*.asc
pkg/*/*.deb
pkg/*/*.gem
pkg/*/*.zip
pkg/*/*.sign
pkg/*/*.pkg
pkg/arch-install-scripts/arch-install-scripts
pkg/awf/awf
pkg/delve/delve
pkg/kubernetes/cni*
pkg/iksemel/iksemel
pkg/freeswitch/freeswitch
pkg/kubernetes/kubernetes
pkg/kubernetes/release
pkg/linux-celes/archlinux-linux
pkg/linux-celes/linux
pkg/openvpn-pia/openvpn-pia
pkg/ruby-nub/ruby-nub
pkg/vscode/vscode
pkg/cyberlinux-grub/cyberlinux-grub
pkg/cyberlinux-screenfetch/screenFetch
