*.swo
*.swp
*/src/
*/pkg/
*/*.xz
*/*.gz
*/*.bz2
*/*.asc
*/*.deb
*/*.gem
*/*.zip
*/*.sign
*/*.pkg.*
arch-install-scripts/arch-install-scripts
awf/awf
delve/delve
kubernetes/cni*
iksemel/iksemel
freeswitch/freeswitch
kubernetes/kubernetes
kubernetes/release
linux-celes/archlinux-linux
linux-celes/linux
openvpn-pia/openvpn-pia
ruby-nub/ruby-nub
vscode/vscode
cyberlinux-grub/cyberlinux-grub
cyberlinux-screenfetch/screenFetch
